# Pokrycie kodu
coverage
# Automatyczne formatowanie kodu
black
# Testy jednostkowe
pytest
# Testy bezpieczeństwa
bandit
# Statyczna analiza kodu
flake8
bzt>=1.16.0
urwid==3.0.3
selenium>=4.0
requests>=2.32.0
pyyaml>=6.0
